﻿<li class="">
    <a href="#" class="dropdown-toggle">

        <span class="menu-text">
            Uploads
        </span>

        <!-- <b class="arrow fa fa-angle-down"></b> -->
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="color:white">

        <li>@Html.ActionLink("Upload List", "Index", "Uploads")</li>
        <li>@Html.ActionLink("New Upload", "Create", "Uploads")</li>

    </ul>
</li>