﻿@model MCM.Models.Upload

@{
    ViewData["Title"] = "DownloadFile";
}
@{
    var message = TempData["shortMsg"] ?? string.Empty;
    var message1 = TempData["shortMessage"] ?? string.Empty;
    var message2 = TempData["DeleteMessage"] ?? string.Empty;
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="DownloadFile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="EncName" class="control-label"></label>
                <input type="password" asp-for="EncName" class="form-control" />
                <span asp-validation-for="EncName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);

var message1 = '@message1';
if (message1)
    alert(message1);

var message2 = '@message2';
if (message2)
    alert(message2);

</script>