﻿@model IEnumerable<MCM.Models.Upload>

@{
    ViewData["Title"] = "Index";
}
@{
    var message = TempData["shortMsg"] ?? string.Empty;
    var message1 = TempData["shortMessage"] ?? string.Empty;
    var message2 = TempData["DeleteMessage"] ?? string.Empty;
}
<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Converted File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConvFile)
                </td>
                <td>
                    <a asp-action="DownloadFile" asp-route-id="@item.Id">DownloadFile</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);

var message1 = '@message1';
if (message1)
    alert(message1);

var message2 = '@message2';
if (message2)
    alert(message2);

</script>